body {
  background-color: indianred !important;
}

.ui.piled.segment:after,
.ui.piled.segment:before,
.ui.piled.segments:after,
.ui.piled.segments:before {
  background-color: antiquewhite !important;
}

main {
  width: fit-content !important;
  background-color: antiquewhite !important;
}

canvas {
  border-radius: 6px;
}

/* Fixes centering issue */
body > .grid {
  height: 100%;
}

div#location {
  margin: 0 0 1em !important;
}

#canvasHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}

#canvasHolder > button {
  margin: 5px 10px 0 0;
}

#tableHolder {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 20px auto;

  text-align-last: center;
}

.ui.table tr:first-child th {
  border-top: none;
}
.ui.table tr th {
  border-top: 1px solid rgba(34,36,38,.1);
}
